@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Bangers&family=Oswald:wght@200;300;400;500&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
   margin: 0%;
   padding: 0%;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black

}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
    
}

.banner h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-shadow: .3rem .4rem 2px rgb(0, 0, 0, 4); 
    line-height: 1,8;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5 forwards;
}

.banner p{
font-family: 'Staatliches', cursive;
color: rgb(255, 255, 255);
font-size: 3rem;
text-shadow: .3rem .4rem rgb(0, 0, 0, 4);
margin-bottom: 3rem;
animation: moveBanner 1s 0.7 forwards;
opacity: 0;


}

.banner button{
    font-family: 'Allan', cursive, serif;
    color: white;
    background: #DA22FF;  
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  
    background: linear-gradient(to right, #9733EE, #DA22FF); 
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBanner 1s 0.9 forwards;
    opacity: 0;
    }

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg)
    }    
    100%{
        transform: translateY(0S) rotateY(0);
        opacity: 1;
    }
}

.banner button:hover{
    color: black;

}


